.separator__date {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;

    margin: 0px;
    padding: 0px 15px 0px 15px;

}